[submodule "src/equicordplugins/betterActivities"]
	path = src/equicordplugins/betterActivities
	url = https://github.com/D3SOX/vc-betterActivities
[submodule "src/equicordplugins/blockKrisp"]
	path = src/equicordplugins/blockKrisp
	url = https://github.com/D3SOX/vc-blockKrisp.git
[submodule "src/equicordplugins/ignoreTerms"]
	path = src/equicordplugins/ignoreTerms
	url = https://github.com/D3SOX/vc-ignoreTerms.git
[submodule "src/equicordplugins/notifyUserChanges"]
	path = src/equicordplugins/notifyUserChanges
	url = https://github.com/D3SOX/vc-notifyUserChanges
[submodule "src/equicordplugins/voiceChatUtils"]
	path = src/equicordplugins/voiceChatUtils
	url = https://github.com/D3SOX/vc-voiceChatUtilities
[submodule "src/equicordplugins/customSounds"]
	path = src/equicordplugins/customSounds
	url = https://github.com/ScattrdBlade/customSounds
[submodule "src/equicordplugins/newPluginsManager"]
	path = src/equicordplugins/newPluginsManager
	url = https://github.com/Sqaaakoi/vc-newPluginsManager.git
[submodule "src/equicordplugins/replaceActivityTypes"]
	path = src/equicordplugins/replaceActivityTypes
	url = https://github.com/nyakowint/replaceActivityTypes.git
[submodule "src/equicordplugins/sekaiStickers"]
	path = src/equicordplugins/sekaiStickers
	url = https://codeberg.org/maikokain/sekaistickers-vencord.git
[submodule "src/equicordplugins/gensokyoRadioRPC"]
	path = src/equicordplugins/gensokyoRadioRPC
	url = https://github.com/ForkPrince/GensokyoRadioRPC.git
[submodule "src/equicordplugins/holyNotes"]
	path = src/equicordplugins/holyNotes
	url = https://github.com/WolfPlugs/HolyNotes-VC.git
[submodule "src/equicordplugins/themeLibrary"]
	path = src/equicordplugins/themeLibrary
	url = https://github.com/Faf4a/ThemeLibrary
